#countdown {
    z-index: 1;
     position:absolute;   
    /* move thing to where it currently is. move down means move away top
    
    absolute - take the whole thing away from browser and put it on top of something*/
    font-family:"Helvetica";
    font-size: 24px;
    color:red;
    top:64px;
    left:500px; 
} 


body {
    margin: 0;
}